:root {
  --borderRadius: 0.5em; /*Border Radius of all elements*/
}
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding-top: 3rem;
  font-family: "Trebuchet MS", Arial, sans-serif;
  background: #8e2de2; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  color: white;
  text-align: center;
}

button {
  transition: all 0.3s ease;
}
button:hover {
  transform: scale(1.1) perspective(1px);
}
input,
button {
  font: inherit;
}
.container {
  margin: 0 auto;
  background-color: whitesmoke;
  height: 90%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  align-content: flex-start;
  padding: 2rem;
  background: #0f111a;
  border: 2px black solid;
  border-radius: 1em;
}

/* INPUT PART */
.input-container {
  width: 50%;
  max-width: 40rem;
  min-width: 25rem;
}
.input {
  position: relative; /* Position is relative to set button to bottom right*/
  height: fit-content;
  border: rgba(93, 12, 255, 1) 2px solid;
  border-radius: var(--borderRadius);
  padding: 1rem;
}
.input label {
  color: white;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.input input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 0.5rem;
  outline: none;
  border-radius: var(--borderRadius);
}
.input button {
  border: black 2px solid;
  border-radius: var(--borderRadius);
  color: white;
  position: absolute;
  bottom: 1em;
  right: 1em;
  height: 2.5em;
  width: 9.375em;
  min-height: fit-content;
  min-width: fit-content;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgb(215, 100, 0) 100%
  );
}
#quantity {
  width: 50%;
}

/* LIST PART */

.list-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 40rem;
  min-width: 25rem;
  max-height: 100%;
}
#list {
  color: white;
  margin: 0;
  width: 100%;
  overflow: scroll;
  display: flex;
  gap: 0.625em;
  flex-direction: column;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.list-item * {
  padding: 1em;
}
.list-item-name {
  border: black 2px solid;
  border-radius: var(--borderRadius);
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  flex: 50%;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
}
.list-item:nth-of-type(2n + 1) .list-item-name {
  background: #cb356b;
  background: linear-gradient(to right, #bd3f32, #cb356b);
}
.list-item-quantity {
  border: black 2px solid;
  border-radius: var(--borderRadius);
  text-align: center;
  flex: 20%;
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  background-color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(17, 17, 17, 1) 100%
  );
}
.edit-btn {
  color: white;
  flex: 10%;
  border: black 2px solid;
  border-radius: var(--borderRadius);
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
.del-btn {
  color: white;
  flex: 10%;
  border: black 2px solid;
  border-radius: var(--borderRadius);
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

@media (max-width: 1066px) {
  .list-container {
    max-height: 40%;
  }
  @media (max-height: 620px) {
    .list-container {
      max-height: 30%;
    }
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.7em;
  }
  #quantity {
    width: 100%;
  }
  .input button {
    position: static;
    display: block;
    margin: 0 auto;
    height: 2.5em;
    width: 9.375em;
    min-height: fit-content;
    min-width: fit-content;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgb(215, 100, 0) 100%
    );
  }

  .input-container {
    min-width: 15rem;
  }
  .list-container {
    min-width: 17rem;
  }
}
